<h3>Personal Detail</h3>
<p>
  <strong>User name:</strong>
  {{ user.name }}
</p>
<p>
  <strong>Email:</strong>
  {{ user.email }}
</p>
<h3>Address</h3>
<p>
  <strong>City:</strong>
  {{ user.address.city }}
</p>
<p>
  <strong>Street:</strong>
  {{ user.address.street }}
</p>
<p>
  <strong>Suite:</strong>
  {{ user.address.suite }}
</p>
<p>
  <strong>Zipcode:</strong>
  {{ user.address.zipcode }}
</p>
<h3>Company</h3>
<p>
  <strong>Bs:</strong>
  {{ user.company.bs }}
</p>
<p>
  <strong>Catch phrase:</strong>
  {{ user.company.catchPhrase }}
</p>
<p>
  <strong>Name:</strong>
  {{ user.company.name }}
</p>
